@import './variables.css';

.title {
    color: var(--text-color);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg, var(--instagram-color), var(--whatsapp-color));
    border-radius: 2px;
}